html{
    font-size: 62.5%;
}

body {
    background-color: #282c34;
    color: beige;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

h1, h2, h3, p, a {
    color: beige;
}

.cal-mod {
    height: 95vh;
    width: 95vw;
}